*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    background: rgba(255, 255, 255, 0.2); /* semi-transparent */
  backdrop-filter: blur(10px); /* the frosted effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}
.nav ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}
.nav ul li {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.nav img{
    height: 100%;
    margin-left: 20px;
}
.see_more{
    margin-left: 20px;
    padding: 10px 20px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}
.see_more:hover{
    background-color: rgb(255, 183, 134);
}